<!DOCTYPE html>
<html>
<head>
<title></title>
    <!--=====================CSS Starts=========================================== -->
    <style type="text/css">

            .heading {
                text-align:center;
                font-style:normal;
              	width:250px;
        }
            .firstcolumn {
                text-align:left;
                font-style:normal;
                font-size:15px;
                width:100px;
            }
            .firstcolumnSub {
                text-align:center;
                font-style:normal;
                font-size:15px;
            }
            .RC {
                color:green;
                font-weight:normal;
                text-align:center;
                font-size:13px;
            }
            table,th,td{
            	border:1px solid black;
              	border-style:dotted;
            	border-collapse: collapse;
            }
            .mainimage{
                width: 150px;
                height:150px;
            }
             .mainimage:hover{
                transform: scale(2);
            }
            .AmazonBuy{
                width: 100px;
                height:33px;
            }
            .FlipkartBuy{
                width: 100px;
                height:33px;
            }
            .AmazonBuy:hover{
                transform: scale(2);
            }
            .FlipkartBuy:hover{
                transform: scale(2);
            }
            .AmazonSeller
            {
                width: 600px;
                height:150px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            table thead
            {
                position: sticky;
                top: 0;
                background:#727272;
                color: aqua
            }
            #table_detail .hidden_row
            {
              display: none;
            }
        </style>
    <!--=====================CSS Ends=========================================== -->
    <!--=====================Script Starts=========================================== -->
    <script src=
        "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src=
        "https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript">
        function showHideRow(row) {
        $("#" + row).toggle();
        }
    </script>



    <!-- Google Analtic tag (gtag.js) Updated for Smart Watch-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-854V01EJMB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-854V01EJMB');
    </script>
    <!-- Google analytic tag (gtag.js)  Close-->

    <!-- Google Advertise tag Start -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S03LF3REGR">
    </script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S03LF3REGR');
    </script>
    <!-- Google Advertise tag Close -->
    <!--=====================Script Ends=========================================== -->
</head>
<body>
    <h3>Introduction</h3>
    <p>
        Few of best selling smart watches have been compared in realworld with different permuatations and combinations, which gives buyers quick idea about product feature like battery life, connectivity, hardware. We have strictlly avoided youtube reviews which always seems to be sponsored. Looking at table only, buyers can take quick decision for hard earn money. Looking at table buyers will understand whether specific product satisfies his/her requirments or not .
    </p>
<table  id="table_detail">
<thead>
  <tr>
    <th class="heading">Watch Model</th>
    <th class="heading">Samsung Galaxy Watch4 LTE</th>
    <th class="heading">Amazfit GTR 3 Pro </th>
    <th class="heading">Fitbit Sense 2</th>
    <th class="heading">Garmin Venu Sq Music</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td class="firstcolumn">Images</td>
    <td class="RC"><img class="mainimage" src="https://drive.google.com/uc?export=view&id=1Ht50zjHNuiPHUUDHBM8GDMSNmBCeoxh6" alt="HTML5 Icon"></td>
    <td class="RC"><img class="mainimage" src="https://m.media-amazon.com/images/I/61LeyQw4qbL._SL1500_.jpg" alt="HTML5 Icon"></td>
    <td class="RC"><img class="mainimage" src="https://m.media-amazon.com/images/I/51WhoCW0H9L._SL1000_.jpg" alt="HTML5 Icon"></td>
    <td class="RC"><img class="mainimage" src="https://m.media-amazon.com/images/I/61u9rpZnleS._SL1500_.jpg" alt="HTML5 Icon"></td>
  </tr>
  <tr>
    <td class="firstcolumn">Model Number</td>
    <td class="RC">SM-R875FZKAINU</td>
    <td class="RC">GTR 3 Pro</td>
    <td class="RC">FB512BKBK-FRCJK</td>
    <td class="RC">Venu Sq Music</td>
  </tr>
  <tr>
    <td class="firstcolumn">Launch Date In India</td>
    <td class="RC">30 August 2021</td>
    <td class="RC">6 October 2021</td>
    <td class="RC">13 September 2022</td>
    <td class="RC">23 September 2020</td>
  </tr>
  <tr>
    <td class="firstcolumn">Total Colors</td>
    <td class="RC">9</td>
    <td class="RC">2</td>
    <td class="RC">3</td>
    <td class="RC">3</td>
  </tr>
  <tr>
    <td class="firstcolumn">IOS Compatible</td>
    <td class="RC">No</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr>
    <td class="firstcolumn">Android Compatible</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>


  <tr onclick="showHideRow('hidden_row1');showHideRow('hidden_row2');showHideRow('hidden_row3');showHideRow('hidden_row4');showHideRow('hidden_row5');showHideRow('hidden_row6');showHideRow('hidden_row7');showHideRow('hidden_row8');showHideRow('hidden_row9');">
    <td class="firstcolumn">+ Hardware</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
  </tr>
  <tr id="hidden_row1" class="hidden_row">
    <td class="firstcolumnSub">Screen Size(in cm)</td>
    <td class="RC">4.4</td>
    <td class="RC">3.68</td>
    <td class="RC">4.01</td>
    <td class="RC">3.31</td>
  </tr>
  <tr id="hidden_row2" class="hidden_row">
    <td class="firstcolumnSub">Weight(in grams)</td>
    <td class="RC">30</td>
    <td class="RC">32</td>
    <td class="RC">37.6</td>
    <td class="RC">37.6</td>
  </tr>
  <tr id="hidden_row3" class="hidden_row">
    <td class="firstcolumnSub">Case Material Type</td>
    <td class="RC">Aluminium</td>
    <td class="RC">Aluminium Alloy</td>
    <td class="RC">Stainless Steel</td>
    <td class="RC">Anodized Aluminium</td>
  </tr>
  <tr id="hidden_row4" class="hidden_row">
    <td class="firstcolumnSub">Strap Material Type</td>
    <td class="RC">Silicon</td>
    <td class="RC">Leather</td>
    <td class="RC">Silicon</td>
    <td class="RC">Silicon</td>
  </tr>
  <tr id="hidden_row5" class="hidden_row">
    <td class="firstcolumnSub">Display Resolution</td>
    <td class="RC">360*360</td>
    <td class="RC">480*480</td>
    <td class="RC">336*336</td>
    <td class="RC">240*240</td>
  </tr>
   <tr id="hidden_row6" class="hidden_row">
    <td class="firstcolumnSub">Display Type</td>
    <td class="RC">AMOLED</td>
    <td class="RC">AMOLED</td>
    <td class="RC">AMOLED</td>
    <td class="RC">Liquid Crystal</td>
  </tr>
   <tr id="hidden_row7" class="hidden_row">
    <td class="firstcolumnSub">OS</td>
    <td class="RC">Wear OS</td>
    <td class="RC">Zepp OS</td>
    <td class="RC">Fitbit OS</td>
    <td class="RC">Garmin OS</td>
  </tr>
   <tr id="hidden_row8" class="hidden_row">
    <td class="firstcolumnSub">Internal Memory</td>
    <td class="RC">16 GB</td>
    <td class="RC">2.3 GB</td>
    <td class="RC">NA</td>
    <td class="RC">NA</td>
  </tr>

   <tr id="hidden_row9" class="hidden_row">
    <td class="firstcolumnSub">Water Resistance</td>
    <td class="RC">50 meter</td>
    <td class="RC">50 meter</td>
    <td class="RC">50 meter</td>
    <td class="RC">50 meter</td>
  </tr>

   <tr onclick="showHideRow('hidden_row10');showHideRow('hidden_row11');showHideRow('hidden_row12');showHideRow('hidden_row13');showHideRow('hidden_row14');">
    <td class="firstcolumn">+ Connectivity</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row10" class="hidden_row">
    <td class="firstcolumnSub">USB Connectivity</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row11" class="hidden_row">
    <td class="firstcolumnSub">GPS</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row12" class="hidden_row">
    <td class="firstcolumnSub">WIFI</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row13" class="hidden_row">
    <td class="firstcolumnSub">Bluetooth Calling</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">No</td>
  </tr>
  <tr id="hidden_row14" class="hidden_row">
    <td class="firstcolumnSub">Remote LTE Connection</td>
    <td class="RC">Yes</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
  </tr>
   <tr onclick="showHideRow('hidden_row15');showHideRow('hidden_row16');showHideRow('hidden_row17');showHideRow('hidden_row18');">
    <td class="firstcolumn">+ Charging And Memory</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row15" class="hidden_row">
    <td class="firstcolumnSub">Charging</td>
    <td class="RC">Wireless Charger</td>
    <td class="RC">Wireless Charger</td>
    <td class="RC">Wireless Charger</td>
    <td class="RC">USB Charging</td>
  </tr>
  <tr id="hidden_row16" class="hidden_row">
    <td class="firstcolumnSub">Fast Charging</td>
    <td class="RC">No</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row17" class="hidden_row">
    <td class="firstcolumnSub">Battery Backup</td>
    <td class="RC">1 day</td>
    <td class="RC">6-8 days</td>
    <td class="RC">3-4 days</td>
    <td class="RC">5-7 days</td>
  </tr>
  <tr id="hidden_row18" class="hidden_row">
    <td class="firstcolumnSub">Internal Storage Memory For Song Storage</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
  </tr>


  <tr>
    <td class="firstcolumn">Multiple Watch Faces</td>
    <td class="RC">Yes</td>
    <td class="RC">Over 100</td>
    <td class="RC">Max 5</td>
    <td class="RC">Yes, Can create customized faces as well</td>
  </tr>
  <tr>
    <td class="firstcolumn">Gesture Control</td>
    <td class="RC">Answer Calls, Dismiss Alerts & Calls, Quick Launch</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
  </tr>
  <tr>
    <td class="firstcolumn">Voice Control</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
  </tr>
  <tr>
    <td class="firstcolumn">Always On Display Mode</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr>
    <td class="firstcolumn">Alexa Support</td>
    <td class="RC">No</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes, with voice feedback</td>
    <td class="RC">No</td>
  </tr>
   <tr onclick="showHideRow('hidden_row19');showHideRow('hidden_row20');showHideRow('hidden_row21');showHideRow('hidden_row22');">
    <td class="firstcolumn">+ Sports Mode</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row19" class="hidden_row">
    <td class="firstcolumnSub">Walking</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row20" class="hidden_row">
    <td class="firstcolumnSub">Running</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row21" class="hidden_row">
    <td class="firstcolumnSub">Cycling</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row22" class="hidden_row">
    <td class="firstcolumnSub">Gym Mode</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
<tr onclick="showHideRow('hidden_row23');showHideRow('hidden_row24');showHideRow('hidden_row25');showHideRow('hidden_row26');showHideRow('hidden_row27');showHideRow('hidden_row28');showHideRow('hidden_row29');showHideRow('hidden_row30');showHideRow('hidden_row31');">
    <td class="firstcolumn">+ Health Tracking</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row23" class="hidden_row">
    <td class="firstcolumnSub">Bioelectrical Impedance Analysis Sensor for Body Composition Analysis(BIA)</td>
    <td class="RC">Yes</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
    <td class="RC">No</td>
  </tr>
  <tr id="hidden_row24" class="hidden_row">
    <td class="firstcolumnSub">Heart Monitoring</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row25" class="hidden_row">
    <td class="firstcolumnSub">BP Monitoring</td>
    <td class="RC">Yes, with third party app</td>
    <td class="RC">No(Disable in indian version)</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row26" class="hidden_row">
    <td class="firstcolumnSub">SPO2(Blood Oxygen)</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row27" class="hidden_row">
    <td class="firstcolumnSub">Sleep Tracking</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row28" class="hidden_row">
    <td class="firstcolumnSub">Menstruation Tracker</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row29" class="hidden_row">
    <td class="firstcolumnSub">Stress Managment</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row30" class="hidden_row">
    <td class="firstcolumnSub">Skin Temperature</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
    <td class="RC">Yes</td>
  </tr>
  <tr id="hidden_row31" class="hidden_row">
    <td class="firstcolumnSub">ECG</td>
    <td class="RC">Yes, with third party app</td>
    <td class="RC">No</td>
    <td class="RC">Yes</td>
    <td class="RC">No</td>
  </tr>
<tr onclick="showHideRow('hidden_row32');showHideRow('hidden_row33');showHideRow('hidden_row34');showHideRow('hidden_row35');">
    <td class="firstcolumn">+ Included Component</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row32" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Watch</td>
    <td class="RC">Watch</td>
    <td class="RC">Watch</td>
    <td class="RC">Watch</td>
  </tr>
  <tr id="hidden_row33" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Watch Strap</td>
    <td class="RC">Watch Strap</td>
    <td class="RC">2Straps(Small And Large)</td>
    <td class="RC">Watch Strap</td>
  </tr>
  <tr id="hidden_row34" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Wireless Charger</td>
    <td class="RC">Wireless Charger</td>
    <td class="RC">Wireless Charger</td>
    <td class="RC">USB Charger</td>
  </tr>
  <tr id="hidden_row35" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Quick Start Guide</td>
    <td class="RC">Quick Start Guide</td>
    <td class="RC">Quick Start Guide</td>
    <td class="RC">Quick Start Guide</td>
  </tr>
  <tr>
    <td class="firstcolumn">Country Of Origin</td>
    <td class="RC">India</td>
    <td class="RC">China</td>
    <td class="RC">China</td>
    <td class="RC">Taiwan</td>
  </tr>
<tr onclick="showHideRow('hidden_row36');showHideRow('hidden_row37');showHideRow('hidden_row38');showHideRow('hidden_row39');showHideRow('hidden_row40');showHideRow('hidden_row41');showHideRow('hidden_row42');">
    <td class="firstcolumn">+ Pros</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row36" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Work sleemlessly with non samsung phones as well</td>
    <td class="RC">Work great as fitness tracker</td>
    <td class="RC">Its more of fitness tracker than watch</td>
    <td class="RC">Its more of fitness tracker than watch</td>
  </tr>
  <tr id="hidden_row37" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Watch faces are unique</td>
    <td class="RC">Battery last for 6-8 days</td>
    <td class="RC">Battery life is of 4 days with always on feature</td>
    <td class="RC">You can customize watch faces, create new ones, tweak widgets, create activities, and play around with a myriad of fitness-centric features</td>
  </tr>
  <tr id="hidden_row38" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">The health tracking features are great and accurate and pair with google fit.</td>
    <td class="RC">100% charging in 2 hours</td>
    <td class="RC">Stress response works like charm eg if driving fast due to late for office, you will get stress alert and notify to log mood</td>
    <td class="RC">Garmin has its in-house app store- Connect IQ to let you install widgets, watch faces, and services to personalize the user experience on its wearables</td>
  </tr>
  <tr id="hidden_row39" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Google maps UI is bad</td>
    <td class="RC">Great look</td>
    <td class="RC">Notifications: can reply via emoji, quick responses and also speech to text it can convert what you speak (only English) through text</td>
    <td class="RC">The Garmin OS also offers a built-in coach facility to help you reach your fitness goals</td>
  </tr>
  <tr id="hidden_row40" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">The glass is scratch free</td>
    <td class="RC">Tap measuring for spo2, pulse rate, stress, breath rate</td>
    <td class="RC">Helps to relax by suggesting breathing or an eda scan</td>
    <td class="RC">The wearable can be set to send real-time location to emergency contacts in case of any mishaps.</td>
  </tr>
  <tr id="hidden_row41" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Amazing watch faces</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC">The smart wearable also shows stress and a rather useful health metric- Body Battery</td>
  </tr>
  <tr id="hidden_row42" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">LTE calling is awesome with Jio Plan, you don't need any extra SIM/eSIM to activate the JIO mobile plan on this watch</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
  </tr>
<tr onclick="showHideRow('hidden_row43');showHideRow('hidden_row44');showHideRow('hidden_row45');showHideRow('hidden_row46');showHideRow('hidden_row47');showHideRow('hidden_row48');showHideRow('hidden_row49');">
    <td class="firstcolumn">+ Cons</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row43" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Battery life is poor but good if moderately used and with less brightness</td>
    <td class="RC">Can not install 3rd party app</td>
    <td class="RC">Can not save more than 5 faces on the device</td>
    <td class="RC">Text response/Reject phone call with text is present only for Android</td>
  </tr>
  <tr id="hidden_row44" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Blood Pressure Monitor and ECG are unavailable in India(and for non Samsung smartphone) but can use with third party apps</td>
    <td class="RC">BP monitor is disable for indian version</td>
    <td class="RC">All features are not free come only with Premium Membership</td>
    <td class="RC">For music edition will need a paid Spotify or Amazon music to make this work and wireless headset</td>
  </tr>
  <tr id="hidden_row45" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Charging speed is slow</td>
    <td class="RC">Customer service is not good</td>
    <td class="RC">Poor response/notification updates for phone calls and sms</td>
    <td class="RC">Disappointing about this Pulse Ox sensor is that its widget vanishes from the Health Stats screen when you want to take a on demand reading</td>
  </tr>
  <tr id="hidden_row46" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Only compatible with Android</td>
    <td class="RC">In notiication, logo is not coming like whatsapp notification should comes with whatsapp logo. Due to this, need to open notification and check source.</td>
    <td class="RC">Silicone Strap (although good) is not useful for APAC region where summers last for more than 9 months AND option of woven / leather straps are not available locally.</td>
    <td class="RC">You can pick calls from the wrist but since the wearable lacks a microphone and a speaker, you would need your handset or wireless earphones to answer calls</td>
  </tr>
  <tr id="hidden_row47" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">LTE should have message facility</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC">The LCD felt dull under sunlight and the touch response is also not the best in this price segment</td>
  </tr>
  <tr id="hidden_row48" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Whatsapp is missing..although can reply to messages</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC">The step counter kept counting steps while driving or just sitting in the vehicle</td>
  </tr>
  <tr id="hidden_row49" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Body is made of aluminium and is prone to minor scratches</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC">Tiny Display Feels Cramped</td>
  </tr>
<tr onclick="showHideRow('hidden_row50');showHideRow('hidden_row51');">
    <td class="firstcolumn">+ Suggestions</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row50" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">While charging use airplane mode which charges in 1.5 hour</td>
    <td class="RC">Install a protective guard for the watch face as it easily tends to get scratched</td>
    <td class="RC"></td>
    <td class="RC"></td>
  </tr>
  <tr id="hidden_row51" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC">Continuous heart rate and stress monitoring can be turned off to conserve and extend a little longer</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
  </tr>
<tr onclick="showHideRow('hidden_row52');showHideRow('hidden_row53');">
    <td class="firstcolumn">+ Additional Feature</td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC"></td>

  </tr>
  <tr id="hidden_row52" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC">Includes 6-month Premium membership </td>
    <td class="RC"></td>
  </tr>
  <tr id="hidden_row53" class="hidden_row">
    <td class="firstcolumnSub"></td>
    <td class="RC"></td>
    <td class="RC"></td>
    <td class="RC">2 x Straps (Small & Large)  provided</td>
    <td class="RC"></td>
  </tr>

<!--Done upto this-->
  <tr>
    <td class="firstcolumn">Buy On Amazon</td>
    <td class="RC"><a href="https://amzn.to/3HWMs3q" target="_blank"><img class="AmazonBuy" src="https://i.pinimg.com/736x/75/19/72/75197219cb0da0c45ebdb03ff17dddd8.jpg" alt="https://amzn.to/3XfKmBg"></a></td>
    <td class="RC"><a href="https://amzn.to/3HYZZaH" target="_blank"><img class="AmazonBuy" src="https://i.pinimg.com/736x/75/19/72/75197219cb0da0c45ebdb03ff17dddd8.jpg" alt="https://amzn.to/3XfKmBg"></a></td>
    <td class="RC"><a href="https://amzn.to/3XuBWG4" target="_blank"><img class="AmazonBuy" src="https://i.pinimg.com/736x/75/19/72/75197219cb0da0c45ebdb03ff17dddd8.jpg" alt="https://amzn.to/3XfKmBg"></a></td>
    <td class="RC"><a href="https://amzn.to/3YzFyYP" target="_blank"><img class="AmazonBuy" src="https://i.pinimg.com/736x/75/19/72/75197219cb0da0c45ebdb03ff17dddd8.jpg" alt="https://amzn.to/3XfKmBg"></a></td>
  </tr>
  <tr>
    <td class="firstcolumn">Buy On Flipkart</td>
    <td class="RC"><a href="http://fkrt.it/1dGmxDNNNN" target="_blank"><img class="FlipkartBuy" src="https://drive.google.com/uc?export=view&id=1HnCntTjpsD-XBZ_n74S3hAdv8PPP4HK5" alt="Buy On Flipkart"></a></td>
    <td class="RC"><a href="http://fkrt.it/G!kQ!juuuN" target="_blank"><img class="FlipkartBuy" src="https://drive.google.com/uc?export=view&id=1HnCntTjpsD-XBZ_n74S3hAdv8PPP4HK5" alt="Buy On Flipkart"></a></td>
    <td class="RC"><a href="http://fkrt.it/1!46DENNNN" target="_blank"><img class="FlipkartBuy" src="https://drive.google.com/uc?export=view&id=1HnCntTjpsD-XBZ_n74S3hAdv8PPP4HK5" alt="Buy On Flipkart"></a></td>
    <td class="RC"><a href="http://fkrt.it/1!ovLtNNNN" target="_blank"><img class="FlipkartBuy" src="https://drive.google.com/uc?export=view&id=1HnCntTjpsD-XBZ_n74S3hAdv8PPP4HK5" alt="Buy On Flipkart"></a></td>


  </tr>
</tbody>
</table>

<br>
<br>

<a href="https://www.amazon.in/tryab?tag=nileshian00-21;" target="_blank"><img class="AmazonSeller" src="https://drive.google.com/uc?export=view&id=1z--ygsYOvqOVfmglx99PxV52ebz-xhxM" alt="Become Seller On Amazon"></a>
<!--<a target="_blank" href="https://m.media-amazon.com/images/G/31/img17/Amazon_Business_Offers.zip?_encoding=UTF8&linkCode=ib1&tag=nileshian00-21&linkId=bb39149676a9e2e1ec9d2dda51cd9801&ref_=ihub_curatedcontent_8a129f56-47c3-4112-b282-88dd230f239e">Best Amazon Business Offers</a>
-->
</body>
</html>